<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/inputnumber.css" />
  <link rel="stylesheet" href="./css/index.css" />
  <title>购物车</title>
</head>

<body>
  <div class="app-container" id="app">
    <!-- 顶部banner -->
    <div class="banner-box"><img src="http://autumnfish.cn/static/fruit.jpg" alt="" /></div>
    <!-- 面包屑 -->
    <div class="breadcrumb">
      <span>🏠</span>
      /
      <span>购物车</span>
    </div>
    <!-- 购物车主体 -->
    <div class="main" v-if="fruitList.length>0">
      <div class="table">
        <!-- 头部 -->
        <div class="thead">
          <div class="tr">
            <div class="th">选中</div>
            <div class="th th-pic">图片</div>
            <div class="th">单价</div>
            <div class="th num-th">个数</div>
            <div class="th">小计</div>
            <div class="th">操作</div>
          </div>
        </div>
        <!-- 身体 -->
        <div class="tbody">
          <div class="tr" :class="{active:item.isChecked}" v-for="(item,index) in fruitList" :key="item.id">
            <div class="td"><input type="checkbox" v-model="item.isChecked" /></div>
            <div class="td"><img :src="item.icon" alt="" /></div>
            <div class="td">{{item.price}}</div>
            <div class="td">
              <div class="my-input-number">
                <button class="decrease" @click="item.num--" :disabled="item.num==0"> - </button>
                <span class="my-input__inner">{{item.num}}</span>
                <button class="increase" @click="item.num++"> + </button>
              </div>
            </div>
            <div class="td">{{add(item.id)}}</div>
            <div class="td"><button @click="del(item.id)">删除</button></div>
          </div>
        </div>
      </div>
      <!-- 底部 -->
      <div class="bottom">
        <!-- 全选 -->
        <label class="check-all">
          <input type="checkbox" v-model="selall" />
          全选
        </label>
        <div class="right-box">
          <!-- 所有商品总价 -->
          <span class="price-box">总价&nbsp;&nbsp;:&nbsp;&nbsp;¥&nbsp;<span class="price">{{addAll}}</span></span>
          <!-- 结算按钮 -->
          <button class="pay">结算({{allnum}})</button>
        </div>
      </div>
    </div>
    <!-- 空车 -->
    <div class="empty" v-else>🛒空空如也</div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    const dataStart = [
      {
        id: 1,
        icon: 'http://autumnfish.cn/static/火龙果.png',
        isChecked: true,
        num: 2,
        price: 6,
      },
      {
        id: 2,
        icon: 'http://autumnfish.cn/static/荔枝.png',
        isChecked: false,
        num: 7,
        price: 20,
      },
      {
        id: 3,
        icon: 'http://autumnfish.cn/static/榴莲.png',
        isChecked: false,
        num: 3,
        price: 40,
      },
      {
        id: 4,
        icon: 'http://autumnfish.cn/static/鸭梨.png',
        isChecked: true,
        num: 10,
        price: 3,
      },
      {
        id: 5,
        icon: 'http://autumnfish.cn/static/樱桃.png',
        isChecked: false,
        num: 20,
        price: 34,
      },
    ]
    const app = new Vue({
      el: '#app',
      data: {
        // 水果列表
        fruitList: JSON.parse(localStorage.getItem('data')) || dataStart
      },
      computed: {
        add() {
          return (id) => {
            const target = this.fruitList.find((ele) => ele.id === id)
            if (target) {
              return target.num * target.price
            }
          }
        },
        addAll() {
          return this.fruitList.reduce((all, element) => {
            if (element.isChecked === true) {
              all += this.add(element.id)
            }
            return all
          }, 0);
        },
        selall: {
          get() {
            return this.fruitList.every(item => item.isChecked === true)
          },
          set(value) {
            this.fruitList.forEach(element => {
              element.isChecked = value
            });
          }
        },
        allnum() {
          return this.fruitList.reduce((all, ele) => {
            if (ele.isChecked) {
              all += ele.num
            }
            return all
          }, 0)
        }
      },
      methods: {
        del(id) {
          this.fruitList = this.fruitList.filter((ele) => { return ele.id !== id })
        },
      },
      watch: {
        fruitList: {
          deep: true,
          handler(newValue) {
            localStorage.setItem('data', JSON.stringify(newValue))
          },
          immediate: true
        }
      }


    },
    )
  </script>
</body>

</html>